<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>peripheralDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EA030571CD7AA06005D1B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA030701CD7AA06005D1B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EA0307B1CD7AA06005D1B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
